<ion-header>
  <ion-toolbar>
    <ion-title>Sobre mí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
  
    <div class="container-img">
      <img src="../../assets/files/ME.jpeg" alt="Walther Olivo">
    </div>
  </ion-item-divider>

  <ion-item-divider >
    <h3 id="name"> {{joander.nombre}} </h3>  
   </ion-item-divider>
  


 

   <ion-item-divider>
    <p>Soy estudiante de la Universidad de Guayaquil, tengo {{joander.edad}} años de edad, estoy soltero, nací en {{joander.ciudadDeNacimiento}}, pero viví en Manabí durante toda mi infancia, estudié la primaria
      y la secundaria allá, actualmente vivo solo en Guayaquil por motivo de estudios, me gusta mucho el futbol y hacer ejercicio, además me encanta bailar y escuchar música, estoy cursando la carrera de Sistemas de información en la UG, estoy practicamente
      a mitad de la carrera, lo que más me gusta de la ingeniería es el desarrollo web, y más ahora con estos frameworks Ionic y Angular que facilitan el trabajo al momento de crear aplicaciones híbridas, me encantaría 
      poder entrar a formar parte de una empresa en la que poder aplicar todos mis conocimientos y, al 
      mismo tiempo, que me permita desarrollarme profesionalmente.
    </p>
  </ion-item-divider>
</ion-content>
