<ion-header>
  <ion-toolbar>
    <ion-title>Habilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../assets/files/HTML5.png">
    <ion-card-header>
      <ion-card-subtitle>Nivel: Medio</ion-card-subtitle>
      <ion-card-title>HTML</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El Lenguaje de Marcado de Hipertexto (HTML) es el código que se utiliza para estructurar y desplegar una página web y sus contenidos.
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/files/JS.png">
    <ion-card-header>
      <ion-card-subtitle>Nivel: Medio</ion-card-subtitle>
      <ion-card-title>JavaScript</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, basado en prototipos, imperativo, débilmente tipado y dinámico.      
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/files/JAVA.png">
    <ion-card-header>
      <ion-card-subtitle>Nivel: Medio</ion-card-subtitle>
      <ion-card-title>Java</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Java es un lenguaje de programación orientado a objetos que se incorporó al ámbito de la informática en los años noventa. Actualmente es uno de los lenguajes màs utilizados a nivel mundial.     
    </ion-card-content>
  </ion-card>

 

  <ion-card>
    <img src="../../assets/files/IONIC.png">
    <ion-card-header>
      <ion-card-subtitle>Nivel: Básico</ion-card-subtitle>
      <ion-card-title>Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ionic es un framework gratuito y open source para desarrollar aplicaciones híbridas multiplataforma que utiliza HTML5, CSS (generado por SASS).    </ion-card-content>
  </ion-card>

 

  <ion-card>
    <img src="../../assets/files/SQL.jpg">
    <ion-card-header>
      <ion-card-subtitle>Nivel: Medio</ion-card-subtitle>
      <ion-card-title>Bases de Datos SQL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Las bases de datos SQL son las más utilizadas en la actualidad. Consisten en bases de datos relacionales que utilizan el llamado lenguaje SQL, es decir, el lenguaje de consulta estructurado.
    </ion-card-content>
    </ion-card>


    <ion-item-divider >
      <ion-label>
        Referencias
      </ion-label>
    </ion-item-divider>
  
  <ion-list>
    <ion-item><ion-icon name="logo-whatsapp"></ion-icon><ion-label>ㅤ  Sr. Henry Silva: {{references.referenceOne}} </ion-label></ion-item>
    <ion-item><ion-icon name="logo-whatsapp"></ion-icon><ion-label>ㅤ  Sra. Ashley Ibarra: {{references.referenceTwo}} </ion-label></ion-item>
    <ion-item><ion-icon name="logo-whatsapp"></ion-icon><ion-label>ㅤ  Sr. Kelvin Vargas : {{references.referenceThree}} </ion-label></ion-item>

  </ion-list>
 
</ion-content>
